<%= form_for(@deploy) do |f| %>
  <% if @deploy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deploy.errors.count, "error") %> prohibited this deploy from being saved:</h2>

      <ul>
      <% @deploy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :componente %><br>
    <%= f.text_field :componente %>
  </div>
  <div class="field">
    <%= f.label :versao %><br>
    <%= f.text_field :versao %>
  </div>
  <div class="field">
    <%= f.label :responsavel %><br>
    <%= f.text_field :responsavel %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
