<p id="notice"><%= notice %></p>

<h1>Listando Deploys</h1>

<table>
  <thead>
    <tr>
      <th>Componente</th>
      <th>Versão</th>
      <th>Responsável</th>
      <th>Status</th>
      <th>Criado em</th>
      <th>Atualizado em</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deploys.each do |deploy| %>
      <tr>
        <td><%= deploy.componente %></td>
        <td><%= deploy.versao %></td>
        <td><%= deploy.responsavel %></td>
        <td><%= deploy.status %></td>
        <td><%= deploy.created_at %></td>
        <td><%= deploy.updated_at %></td>
        <td><%= link_to 'Mostrar', deploy %></td>
        <td><%= link_to 'Editar', edit_deploy_path(deploy) %></td>
        <td><%= link_to 'Destruir', deploy, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Incluir novo Deploy', new_deploy_path %>


<p>
  Download:
  <%= link_to "CSV", deploys_path(format: "csv") %> |
  <%= link_to "Excel", deploys_path(format: "xls") %>
</p>
