<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Componente</Data></Cell>
        <Cell><Data ss:Type="String">Versão</Data></Cell>
        <Cell><Data ss:Type="String">Responsável</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Criado em</Data></Cell>
        <Cell><Data ss:Type="String">Atualizado em</Data></Cell>
      </Row>
    <% @deploys.each do |deploy| %>
      <Row>
        <Cell><Data ss:Type="String"><%= deploy.componente %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deploy.versao %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deploy.responsavel %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deploy.status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deploy.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= deploy.updated_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
