<p id="notice"><%= notice %></p>

<p>
  <strong>Componente:</strong>
  <%= @deploy.componente %>
</p>

<p>
  <strong>Versão:</strong>
  <%= @deploy.versao %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @deploy.responsavel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deploy.status %>
</p>

<%= link_to 'Editar', edit_deploy_path(@deploy) %> |
<%= link_to 'Voltar', deploys_path %>
